body {
    background-color: burlywood;
}

.nav-bar {
    padding: 2em;
}

.container {
    position: absolute;
    text-align: center;
    color: black;
    padding-left: 2em;
}

.title{
    position: absolute; 
    bottom: 8px;
    top: 8px;
    opacity: 0.75;
    max-width: 400px;
    max-height: 150px;
    background-color: #ffffff;
    padding: 0.5em;
    margin-left: 3em;
    margin-top: 3em;
    border-radius: 40px;
} 

