
body {
    background-color: burlywood;
    max-width: 1000px;
    margin-left: 2rem;
}

#cafe-name {
    font-family: Luminari;
}

h2 {
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.nav-bar {
    width: 100%;
    max-width: 1000px;
    font-family: Luminari;
    position: fixed; 
    background-color: #ffffff;
    opacity: 0.7;
}

.nav-link {
    text-decoration: none;
    color: black;
    border: solid 1px grey;
    padding: 5px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 8px;
}

.nav-link:hover {
    color: burlywood;
    background-color: black;
}

.container {
    position: absolute;
    color: black;
    margin-top: 75px;
    max-width: 1000px;
}

.title{
    position: absolute; 
    bottom: 8px;
    top: 8px;
    opacity: 0.7;
    max-height: 135px;
    background-color: #ffffff;
    padding: 0.5em;
    margin-left: 3em;
    margin-top: 3em;
    border-radius: 40px;
    text-align: center;
} 

.about p {
    font-family: Luminari;
}

.about {
    background-color: #ffffff;
    opacity: 0.7;
    padding: 5px;
    padding-left: 17px;
    margin-top: 10px;
}
