@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: burlywood;
    max-width: 1000px;
    margin-left: 2rem;
}

.nav-bar {
    max-width: 1000px;
    font-family: sans-serif;
    position: fixed; 
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 0.5rem;
    opacity: 0.7;
}

.nav-link {
    text-decoration: none;
    color: black;
    border: solid 1px grey;
    padding: 5px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 8px;
}

.nav-link:hover {
    color: burlywood;
    background-color: black;
}

.container {
    position: absolute;
    /* text-align: center; */
    color: black;
    margin-top: 100px;
    max-width: 1000px;
    overflow: hidden;
}

.title{
    position: absolute; 
    bottom: 8px;
    top: 8px;
    opacity: 0.7;
    max-height: 150px;
    background-color: #ffffff;
    padding: 0.5em;
    margin-left: 3em;
    margin-top: 3em;
    border-radius: 40px;
} 

.about p {
    font-family: sans-serif;
}

